<div th:replace="shared/header :: header"></div>

<div class="container-fluid">
  <div class="p-3 table-wrapper table-active">
  	<div class="table-title">
  		<div class="row">
  			<div class="col-sm-6">
  				<legend class="display">Gerenciamento de Boletos</legend>
  			</div>
  			
  			<div class="col-sm-6 text-right">
  				<a id="deleteSelected" class="btn btn-danger" role="button" data-toggle="button" href="#">
  					<i class="fa fa-minus-circle mr-2"></i>Delete
  				</a>
  				<a class="btn btn-success" role="button" data-toggle="button" href="/boleto/add">
  					<i class="fa fa-plus-square mr-2"></i>Adicionar novo Boleto
  				</a>
  			</div>
  			
  		</div>
    </div>
  </div>

  <div class="table-responsive">
	<table class="table table-bordered">
		<thead>
    		<tr>
				<th scope="col">
  				    <span class="custom-checkbox">
						<input type="checkbox" id="selectAll">
						<label for="selectAll"></label>
					</span>
			  	</th>
			  		<th scope="col">ID</th>
   					<th scope="col">Data Emissão NF</th>
    				<th scope="col">Data Emissão Boleto</th>
    				<th scope="col">Data Operação</th>
    				<th scope="col">Cliente</th>
    				<th scope="col">NF</th>
    				<th scope="col">Banco</th>
    				<th scope="col">Valor</th>
    				<th scope="col">Data Vencimento</th>
    				<th scope="col">Data Pagamento</th>
    				<th scope="col">Carteira</th>
    				<th scope="col">Ação</th>
    				
  				</tr>
				</thead>
				<tbody>
				
					
					<form id="formBoletos" th:action="@{/boleto/delete}" method="post" th:object="${view}">
					
						<tr th:each="boleto,status : ${view.boletos}">
						  
						  <input type="hidden" th:field="*{boletos[__${status.index}__].codigoBoleto}">
						
						  <td>
						  	<span class="custom-checkbox">
								<input type="checkbox" id="checkboxSelect" class="checkboxSelect" th:field="*{boletos[__${status.index}__].selected}" >
							</span>
						  </td>
						  <td th:text="${boleto.codigoBoleto}"></td>
	    				  <td th:text="${boleto.dataEmissaoNF}"></td>
	    				  <td th:text="${boleto.dataEmissaoBoleto}"></td>
	    				  <td th:text="${boleto.dataOperacao}"></td>
	    				  <td th:text="${boleto.cliente}"></td>
	    				  <td th:text="${boleto.nfBoleto}"></td>
	    				  <td th:text="${boleto.banco}"></td>
	    				  <td th:text="${boleto.valorBoleto}"></td>
	    				  <td th:text="${boleto.dataVencimento}"></td>
	    				  <td th:text="${boleto.dataPagamento}"></td>
	    				  <td th:text="${boleto.statusDoc}"></td>
	    				  <td>
							<a th:href="@{'/boleto/edit/' + ${boleto.codigoBoleto}}">
								<i class="fa fa-edit text-warning" data-toggle="tooltip" data-placement="top" title="edit"></i>
							</a>
							<a th:href="@{'/boleto/delete/' + ${boleto.codigoBoleto}}">
								<i class="fa fa-trash text-danger" data-toggle="tooltip" data-placement="top" title="delete"></i>
							</a>
	    				  </td>
	  					</tr>
  					</form>
				</tbody>
		</table>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();

		// Select all
		$("#selectAll").click(function(){
			$('.checkboxSelect').prop('checked', this.checked);
		});
		
		$( "#deleteSelected" ).click(function() {
			$( "#formBoletos" ).submit();
		});
	});
</script>

<div th:replace="shared/footer :: footer"></div>